* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.bang_1 {
    border-collapse: collapse;
    text-align: center;
}
.bang_1_2 {
    border-collapse: collapse;
    text-align: center;
    margin: 20px 10px;
    font-weight: 400;
    min-width: 600px;
    text-transform: capitalize;
}
.cot1 {
    text-align: left;
    padding: 0 4px;
}
.green {
    background-color: #30e030;
}
.text_bold {
    font-weight: 500;
}
.bang_2 {
    border-collapse: collapse;
    text-align: center;
    min-width: 600px;
    text-transform: capitalize;
}
.bang_2 .text_bold {
    font-weight: 600;
}
