* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.page {
    padding: 20px 40px;
}
.header {
    background: orangered;
    height: 150px;
}
.header h1 {
    font-size: 50px;
    text-align: center;
    line-height: 150px;
    color: white;
}
.menu {
    background-color: rgb(59, 59, 243);
    height: 50px;
}
.menu ul {
    display: flex;
    align-items: center;
    font-size: 24px;
}
.menu ul li {
    list-style: none;
    padding: 0 30px;
}
.menu ul li a {
    color: white;
    line-height: 50px;
    text-decoration: none;
    text-transform: capitalize;
}
.cnt {
    display: flex;
}
.cnt_left {
    width: 70%;
}
.cnt_left h2 {
    font-size: 60px;
    margin: 20px;
}
.cnt_left img {
    width: 320px;
    margin: 5px 5px 0 0;
}
.cnt_left p {
    text-align: justify;
    margin: 0 40px 20px 0;
    font-size: 24px;
}

.cnt_right {
    border: 1px solid #000;
    width: 30%;
    margin: 20px 0;
}
.cnt_right ul {
}
.cnt_right ul h3 {
    font-size: 40px;
    margin: 20px 10px;
}
.cnt_right ul li {
    margin: 0 80px;
    font-size: 24px;
}
.footer {
    background: #888;
    font-size: 18px;
    padding: 20px;
    color: white;
}
